@tailwind base;
@tailwind components;
@tailwind utilities;

.cap {
    border: 1px solid black;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Syne";
    background-color: #FBFBFB;
}

* {
    box-sizing: border-box;
}

.filter {
    border: 2px solid #E0E0E0;
}

.toggleFilter {
    display: flex;
}

.getMenu {
    display: flex;
}

.chat_br {
    border-radius: 15px;
    border-top-right-radius: 0;
}

.chat_bs {
    border-radius: 15px;
    border-top-left-radius: 0;
}

.box_size {
    width: 100%;
    aspect-ratio: 10/12;
}

.box_size_1 {
    width: 100%;
    aspect-ratio: 10/10;
}

.box_size_2 {
    width: 100%;
    aspect-ratio: 10/7;
}

.box_size_3 {
    width: 100%;
    aspect-ratio: 10/5;
}

.bottom_border {
    border-bottom: 2px solid #0000004D;
}

.text_area {
    resize: none;
}

input[type="radio"] {
    display: none;
}

.slide-container {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    transform: translateX(0);
    transition: transform 1s ease;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.5;
}

.navigation label {
    background: #FFF;
    cursor: pointer;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
    transition: width 0.3s ease;
}

.navigation label:hover {
    background: #8900B9;
}

#slide1:checked~.slide-container {
    transform: translateX(0);
}

#slide2:checked~.slide-container {
    transform: translateX(-100%);
}

#slide1:checked~.navigation label:nth-child(1),
#slide2:checked~.navigation label:nth-child(2) {
    background: #8900B9;
}